<!-- base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Django Web {% endblock title %}</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <nav class="navbar background">
        <ul class="nav-list">
            <Div class="logo"><img src="../static/images/ima.jpeg" alt=""></Div>
            <li><a href="/"> Home</a></li>
            <li><a href="#about"> About</a></li>
            <li><a href="form1.html"> Registration</a></li>
            <li><a href="#contact"> Contact Us</a></li>
        </ul>
        <div class="rightNav">
            <input type="text" name="search" id="search">
            <button class="btn btn-sm">Search</button>
        </div>
    
    </nav>
    {% block body %}
    
    {% endblock body %}
</body>
</html>
