{%extends 'base.html'%}
{%block title%}Welcome to django{%endblock title%}
{%block body%}


<section class="background firstSection">
    <div class="box-main">
        <div class="firstHalf">
            <p class="text-big"> The Future of Education is hear</p>
            <p class="text-small">In this world of 7 billion people we need to Educate all of them. This is the
                future of an education world </p>
            <div class="buttons">
                <button class="btn">Subscribe</button>
                <button class="btn">watch Video</button>
            </div>
        </div>
        <div class="secondHalf">
            <img src="../static/images/ima.jpeg" alt="Laptop Image">
        </div>
    </div>
</section>

<section class="section">
    <div class="paras">
        <p class="sectionTag text-big">Education</p>
        <p class="sectionSubTag text-small">Education is a purposeful activity directed at achieving certain aims,
            such as transmitting knowledge or fostering skills and character traits. These aims may include the
            development of understanding, rationality, kindness, and honesty. Various researchers emphasize the role
            of critical thinking in order to distinguish education from indoctrination. Some theorists require that
            education results in an improvement of the student while others prefer a value-neutral definition of the
            term. In a slightly different sense, education may also refer, not to the process, but to the product of
            this process: the mental states and dispositions possessed by educated people. Education originated as
            the transmission of cultural heritage from one generation to the next. Today, educational goals
            increasingly encompass new ideas such as the liberation of learners, skills needed for modern society,
            empathy, and complex vocational skills.</p>

    </div>
    <div class="thumbnail">
        <img src="https://source.unsplash.com/800x800/?css,apple" alt="stduy img" class="imFluid">
    </div>
</section>

<section class="section section-left">
    <div class="paras">
        <p class="sectionTag text-big">School Education</p>
        <p class="sectionSubTag text-small">Education in India is a Concurrent List subject, that is both the Indian
            central government, and the state governments have responsibility for enacting and implementing
            education policy.[34] The central board and most of the state boards uniformly follow the "10+2" pattern
            of education.[35]: 3  In this pattern, study of 10 years is done in schools and 2 years in Junior
            colleges (Maharashtra) or Higher Secondary Schools(most other states),[35]: 44  and then 3 years of
            study for a bachelor's degree.[36] The first 10 years is further subdivided into 8 years of elementary
            education (5 years Primary School and 3 years Middle School), 2 years of Secondary education followed by
            2 years of Higher Secondary Schools or Junior colleges.[35]: 5  This pattern originated from the
            recommendation of the Education Commission of 1964–66.[37]

            There are two types of educational institutions in India, 1) Recognized institutions – primary school,
            secondary school, special schools, intermediate schools, colleges and universities who follow courses as
            prescribed by universities or boards and are also open for inspection by these authorities , 2)
            Unrecognized Institutions, which do not fulfill conditions as stated for the recognized ones..</p>

    </div>
    <div class="thumbnail">
        <img src="https://source.unsplash.com/800x800/?javascript,apple,html" alt="stduy img" class="imFluid">
    </div>
</section>

<section class="section">
    <div class="paras">
        <p class="sectionTag text-big">History of Education.</p>
        <p class="sectionSubTag text-small">Early education in India commenced under the supervision of a guru or
            preceptor after initiation.[27] The education was delivered through Gurukula. The relationship between
            Guru and his Shishya (students /diciples) was very important part of the education.[28] Takshasila (in
            modern-day Pakistan) is one of the example of ancient higher learning institute in India from possibly
            8th century BCE, however, it is debatable whether it could be regarded a university or not in modern
            sense, since teachers living there may not have had official membership of particular colleges, and
            there did not seem to have existed purpose-built lecture halls and residential quarters in a Taxila, in
            contrast to the later Nalanda university in eastern India. Nalanda was the oldest university-system of
            education in the world in the modern sense of university. There all subjects were taught in Ariano -Páli
            language.[29]

            Secular institutions cropped up along Buddhist monasteries. These institutions imparted practical
            education, e.g. medicine. A number of urban learning centres became increasingly visible from the period
            between 500 BCE to 400 CE. The important urban centers of learning were Nalanda (in modern-day Bihar)
            and Manassa in Nagpur, among others.[citation needed] These institutions systematically imparted
            knowledge and attracted a number of foreign students to study topics such as Buddhist Páli literature,
            logic, páli grammar, etc. Chanakya, a Brahmin teacher, was among the most famous teachers, associated
            with founding of Mauryan Empire.</p>

    </div>
    <div class="thumbnail">
        <img src="https://source.unsplash.com/800x800/?coding,apple" alt="bisunes img" class="imFluid">
    </div>
</section>

<section class="contact">
    <h2 class="text-center">Contact Us</h2>
    <div class="form">
        <input class="form-input" type="text" name="name" id="name" placeholder="Enter your name">
        <input class="form-input" type="phone" name="phone" id="phone" placeholder="Enter your phone no">
        <input class="form-input" type="email" name="email" id="eamil" placeholder="Enter your email">
        <input class="form-input" type="password" name="pwd" id="pwd" placeholder="Enter your password">
        <button class="btn btn-sm btn-dark">Submit</button>
    </div>
</section>

<footer class="background">
    <p class="t-center">
        Coptright &copy; 2027 www.iEduate.com- All right reserved
    </p>
</footer>
{%endblock body %}